task 2

stock price

In [3]:
import yfinance as yf

import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import pyfolio as pf
from datetime import datetime , timedelta

In [4]:
df = pd.read_csv('../data/raw_analyst_ratings.csv')

In [8]:
print(df.head())

   Unnamed: 0                                           headline  \
0           0            Stocks That Hit 52-Week Highs On Friday
1           1         Stocks That Hit 52-Week Highs On Wednesday
2           2                      71 Biggest Movers From Friday
3           3       46 Stocks Moving In Friday's Mid-Day Session
4           4  B of A Securities Maintains Neutral on Agilent...

                                                 url          publisher  \
0  https://www.benzinga.com/news/20/06/16190091/s...  Benzinga Insights
1  https://www.benzinga.com/news/20/06/16170189/s...  Benzinga Insights
2  https://www.benzinga.com/news/20/05/16103463/7...         Lisa Levin
3  https://www.benzinga.com/news/20/05/16095921/4...         Lisa Levin
4  https://www.benzinga.com/news/20/05/16095304/b...         Vick Meyer

                        date stock
0  2020-06-05 10:30:54-04:00     A
1  2020-06-03 10:45:20-04:00     A
2  2020-05-26 04:30:07-04:00     A
3  2020-05-22 12:45:06-04:00     A
4  2020-05-22 11:38:59-04:00     A

In [19]:
df['date']

0          2020-06-05 10:30:54-04:00
1          2020-06-03 10:45:20-04:00
2          2020-05-26 04:30:07-04:00
3          2020-05-22 12:45:06-04:00
4          2020-05-22 11:38:59-04:00
                     ...
1407323          2011-08-29 00:00:00
1407324          2011-06-22 00:00:00
1407325          2011-06-21 00:00:00
1407326          2011-06-21 00:00:00
1407327          2011-05-12 00:00:00
Name: date, Length: 1407328, dtype: object

covert Convert the 'date' column to datetime objects

In [25]:
import datetime

def str_to_datetime(s):
    split = s.split('-')
    year, month, day = int(split[0]), int(split[1]), int(split[2].split()[0])
    return datetime.datetime(year=year, month=month, day=day)

In [26]:
df['date']=df['date'].apply(str_to_datetime)
df['date']

# Now the 'date' column in your DataFrame 'df' is converted to datetime objects

0         2020-06-05
1         2020-06-03
2         2020-05-26
3         2020-05-22
4         2020-05-22
             ...
1407323   2011-08-29
1407324   2011-06-22
1407325   2011-06-21
1407326   2011-06-21
1407327   2011-05-12
Name: date, Length: 1407328, dtype: datetime64[ns]

Determine date ranges and fetch stock data.

In [32]:
stock_symbols = df['stock'].unique()  # Get unique stock symbols

stock_date_ranges = df.groupby('stock')['date'].agg(['min', 'max'])
print("stock symbol",stock_symbols)

print("stock date range" )
stock_date_ranges

stock symbol ['A' 'AA' 'AAC' ... 'ZU' 'ZUMZ' 'ZX']
stock date range

             min        max
stock
A     2009-04-29 2020-06-05
AA    2009-08-10 2020-06-09
AAC   2010-03-25 2019-10-25
AADR  2013-03-05 2013-09-06
AAL   2011-05-16 2020-06-10
...          ...        ...
ZTR   2009-08-10 2020-03-19
ZTS   2013-01-17 2020-06-11
ZU    2013-11-14 2020-01-09
ZUMZ  2009-11-16 2020-06-05
ZX    2011-05-12 2018-06-15

[6204 rows x 2 columns]

Fetch stock prices for each stock based on the calculated date ranges

In [38]:
# Fetch stock data using yfinance
#to access the stock data of specific stocks
zx_dates = stock_date_ranges.loc['ZX']

# Extract the start and end dates for the stock symbol "ZX"
start_date_zx = zx_dates['min']
end_date_zx = zx_dates['max']

print("Start Date for ZX:", start_date_zx)
print("End Date for ZX:", end_date_zx)
# Access stock data for a specific symbol
#print(stock_data['A'].head())

Start Date for ZX: 2011-05-12 00:00:00
End Date for ZX: 2018-06-15 00:00:00

In [42]:
#Define the list of stocks
stocks = ['AA', 'A', 'AAL']

for stock in stocks:
    # Download historical stock data
    stock_data = yf.download(stock, period='max')

    # Get the earliest and latest dates available for the stock
    earliest_date = stock_data.index.min().strftime('%Y-%m-%d')
    latest_date = stock_data.index.max().strftime('%Y-%m-%d')

    print(f"{stock}: Earliest Date - {earliest_date}, Latest Date - {latest_date}")

    # Fetch stock prices for the defined period
    stock_prices = yf.download(stock, start=earliest_date, end=latest_date)

    print(stock_prices)

[*********************100%%**********************]  1 of 1 completed

AA: Earliest Date - 1962-01-02, Latest Date - 2024-04-30

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
1962-01-02   0.000000   6.583219   6.545672   6.545672   1.506892    55930
1962-01-03   6.545672   6.645797   6.533156   6.645797   1.529942    74906
1962-01-04   6.645797   6.695859   6.645797   6.645797   1.529942    80899
1962-01-05   6.645797   6.683344   6.620766   6.633281   1.527061    70911
1962-01-08   6.608250   6.608250   6.357938   6.408000   1.475198    93883
...               ...        ...        ...        ...        ...      ...
2024-04-23  35.000000  36.395000  34.509998  36.060001  36.060001  7574400
2024-04-24  35.959999  36.549999  35.740002  36.080002  36.080002  5706800
2024-04-25  35.860001  36.060001  34.779999  35.939999  35.939999  4467400
2024-04-26  36.509998  37.389999  36.230000  36.880001  36.880001  5653300
2024-04-29  36.880001  38.200001  36.650002  37.650002  37.650002  5667100

[15688 rows x 6 columns]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

A: Earliest Date - 1999-11-18, Latest Date - 2024-05-01
                  Open        High         Low       Close   Adj Close  \
Date
1999-11-18   32.546494   35.765381   28.612303   31.473534   26.652403
1999-11-19   30.713518   30.758226   28.478184   28.880545   24.456604
1999-11-22   29.551144   31.473534   28.657009   31.473534   26.652403
1999-11-23   30.400572   31.205294   28.612303   28.612303   24.229445
1999-11-24   28.701717   29.998213   28.612303   29.372318   24.873051
...                ...         ...         ...         ...         ...
2024-04-24  138.339996  139.889999  136.210007  137.490005  137.490005
2024-04-25  137.059998  137.210007  134.119995  136.369995  136.369995
2024-04-26  136.449997  138.360001  135.000000  137.740005  137.740005
2024-04-29  138.259995  139.869995  137.880005  139.589996  139.589996
2024-04-30  138.600006  139.649994  136.970001  137.039993  137.039993

              Volume
Date
1999-11-18  62546380
1999-11-19  15234146
1999-11-22   6577870
1999-11-23   5975611
1999-11-24   4843231
...              ...
2024-04-24   1553200
2024-04-25    940800
2024-04-26    754900
2024-04-29    781200
2024-04-30   1087300

[6150 rows x 6 columns]

[*********************100%%**********************]  1 of 1 completed

AAL: Earliest Date - 2005-09-27, Latest Date - 2024-05-01

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2005-09-27  21.049999  21.400000  19.100000  19.299999  18.194910    961200
2005-09-28  19.299999  20.530001  19.200001  20.500000  19.326200   5747900
2005-09-29  20.400000  20.580000  20.100000  20.209999  19.052807   1078200
2005-09-30  20.260000  21.049999  20.180000  21.010000  19.806999   3123300
2005-10-03  20.900000  21.750000  20.900000  21.500000  20.268944   1057900
...               ...        ...        ...        ...        ...       ...
2024-04-24  14.220000  14.330000  13.820000  13.920000  13.920000  41035100
2024-04-25  14.210000  14.280000  13.450000  14.130000  14.130000  58363000
2024-04-26  14.070000  14.090000  13.640000  13.880000  13.880000  36527800
2024-04-29  13.850000  14.020000  13.730000  13.980000  13.980000  28817400
2024-04-30  13.850000  13.930000  13.500000  13.510000  13.510000  25770800

[4679 rows x 6 columns]

In [49]:


# Sample news sentiment data
news_data = pd.DataFrame({
 'Date': ['2024-04-26', '2024-04-29', '2024-04-30'],
 'Sentiment': [0.5, 0.3, -0.2]
})



# Convert 'Date' column to datetime format
news_data['Date'] = pd.to_datetime(news_data['Date'])

# Merge news sentiment data with stock price data based on publication date
merged_data = pd.merge(news_data, stock_data, left_on='Date', right_index=True, how='inner')

# Calculate correlation between sentiment and stock price
correlation = merged_data['Sentiment'].corr(merged_data['Close'])


print(f"Correlation between sentiment and stock price for {stock}: {correlation}")

Correlation between sentiment and stock price for ZTR: nan

In [47]:


for stock in stocks:
    # Download historical stock price data for the stock
    stock_data = yf.download(stock, start='2021-01-01', end='2021-12-31')
    # Merge news sentiment data with stock price data based on publication date
    merged_data = pd.merge(news_data, stock_data, left_on='Date', right_index=True, how='inner')

    # Calculate correlation between sentiment and stock price
    correlation = merged_data['Sentiment'].corr(merged_data['Close'])

    print(f"Correlation between sentiment and stock price for {stock}: {correlation}")

[*********************100%%**********************]  1 of 1 completed

Correlation between sentiment and stock price for AA: nan

[*********************100%%**********************]  1 of 1 completed

Correlation between sentiment and stock price for A: nan

[*********************100%%**********************]  1 of 1 completed

Correlation between sentiment and stock price for AAL: nan

In [51]:


# Sample news sentiment data
news_data = pd.DataFrame({
    'Date': ['2024-04-26', '2024-04-29', '2024-04-30'],
    'Sentiment': [0.6, 0.1, -0.5]
})

# List of stock tickers
stocks = ['ZX', 'ZUMZ', 'ZU', 'ZTS', 'AADR', 'AAC', 'AAL', 'A', 'AA', 'ZTR']

for stock in stocks:
    # Download historical stock price data for the stock
    stock_data = yf.download(stock, start='2021-01-01', end='2021-12-31')

    # Convert 'Date' column to datetime format
    news_data['Date'] = pd.to_datetime(news_data['Date'])

    # Merge news sentiment data with stock price data based on publication date
    merged_data = pd.merge(news_data, stock_data, left_on='Date', right_index=True, how='inner')

    # Calculate correlation between sentiment and stock price
    correlation = merged_data['Sentiment'].corr(merged_data['Close'])

    print(f"Correlation between sentiment and stock price for {stock}: {correlation}")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ZX']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2021-01-01 -> 2021-12-31)')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ZU']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAC']: Exception('%ticker%: No timezone found, symbol may be delisted')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Correlation between sentiment and stock price for ZX: nan
Correlation between sentiment and stock price for ZUMZ: nan
Correlation between sentiment and stock price for ZU: nan
Correlation between sentiment and stock price for ZTS: nan
Correlation between sentiment and stock price for AADR: nan
Correlation between sentiment and stock price for AAC: nan
Correlation between sentiment and stock price for AAL: nan

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Correlation between sentiment and stock price for A: nan
Correlation between sentiment and stock price for AA: nan
Correlation between sentiment and stock price for ZTR: nan